[submodule "libs/libft"]
	path = libs/libft
	url = git@github.com:noctuelles/42-libft.git
[submodule "libs/minilibx-linux"]
	path = libs/minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
[submodule "libs/minilibx-mac-osx"]
	path = libs/minilibx-mac-osx
	url = git@github.com:dannywillems/minilibx-mac-osx.git
